body {
    height: 100%;
    background: rgb(51, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    padding: 10px;
    height: 20%;
    background: white; 
}


li {
    list-style: none;

}

article h2 {
    color: whitesmoke;
    text-align: center;
    text-decoration: underline;
}


.container {
    width: 80%;
    color: slategrey;
}

.card-content {
    color: white;
    opacity: 70%;
}